# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Path match pattern to ignore specific files and directories.
# See https://eslint.org/docs/user-guide/configuring/ignoring-code for more details.

.circleci/*
.github/*
.vscode/*
assets/*
node_modules/*
*.vsix
!lint-staged.config.js
!.eslintrc.js
!.huskyrc.js
!.remarkrc.js
