# +---------+
# + Node.js +
# +---------+
node_modules
npm-debug.log*
.npm/
*.log
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# +--------------------+
# + Visual Studio Code +
# +--------------------+
.vscode/
*.vsix
