# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Path match pattern to ignore when searching for files.
# See https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore for more details.

!assets/extension-marketplace-icon.png
!assets/extension-marketplace-icon-2x.png
.circleci/**
.github/**
.vscode/**
assets/**
node_modules
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.huskyrc.js
.mailmap
.npmrc
.prettierignore
.remarkignore
.remarkrc.js
lint-staged.config.js
package-lock.json
prettier.config.js
*.vsix
